/**
 * Smart Insight Version 1.0
 *
 * Das Tool Smart Insight dient der Erstellung und
 * Verwaltung von Prüfungseinsichten mithilfe einer
 * mobilen Applikation.
 *
 * @author      Marc Engelmann
 * @date        12.01.2016
 * @version     1.0
 *
 */

* {
    margin: 0;
}

body {
    font-family: Arial, Sans-Serif;
    background-color: gainsboro;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

h1 {
    font-size: 60px !important;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 40px !important;
    }
}

h1 img {
    margin-top: -5px;
    width: 90px !important;
    padding-right: 20px;
}


/* **************************** */
/* 1. Header Part and Animation */
/* **************************** */

#headpart {
    width: 100%;
    padding-top:10px;
    color: white;
    line-height: 90%;
    height: 170px;
    font-weight: 100;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(71, 71, 71, 1);
    box-shadow: 0px 0px 2px 0px rgba(71, 71, 71, 1);
    background: linear-gradient(270deg, #00c9ff, #0091ff);
    background-size: 100% 100%;
}

#headpart a {
    color: white;
    text-decoration: none;
}

#icon {
    width: 100px !important;
    height: auto;
}

/* Table */
table {
    border: none;
}
.table_block {
    padding-top: 30px;
}
.task_icon {
    width: 20px;
    height: auto;
}
.table_class {
    border-collapse: collapse;
}
#welcome_box {
    float: right;
    padding-right: 30px;
}
#menu_box {
    float: left;
    padding-left: 30px;
}
.table_class td {
    border: none;
    outline: none;
}
.table_class tr {
    border: none;
    outline: none;
}
a {
    color: cornflowerblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer {
    font-size: 12px;
    height: 40px;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    color: darkgray;
    float: left;
    pading-bottom: 40px;
}
.form {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    line-height: 200%;
    padding-bottom: 40px;
}


@media only screen and (max-width: 800px) {
    .form {
        width: 100%;
        margin: 0px;
    }
}

.dropshadow {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(71, 71, 71, 1);
    box-shadow: 0px 0px 2px 0px rgba(71, 71, 71, 1);
}

.whitebox {
    background-color: white;
    padding: 10px 10px;
}

.box {
    width: 160px;
    text-align: center;
    padding: 20px;
    margin-left: 19px;
    margin-right: 19px;
    float: left;
    background-color: floralwhite;
    border: #000 1px solid;
}

.option-link {
    text-decoration: none;
    opacity: 0;
}

tr:hover .option-link {
    opacity: 1;
}

h2 {
    font-size: 26px !important;
    text-align: left;
    color: white;
    margin-top: 20px;
    padding-left: 20px !important;
    margin-bottom: 0px !important;
    text-shadow: 0px 0px 10px #DDD !important;
}

#logout {
    width: 400px;
    float: left;
}

select {
    width: 220px;
    height: 30px;
    border-radius: 2px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #CCC;
}

.add_button {
    position: fixed !important;
    right: 20px !important;
    bottom: 20px !important;
}

/* **************************** */
/* Google Material Design Tiles */
/* **************************** */
#phd_tile {
    width: 45%;
    margin-right: 5%;
}
#exam_tile {
    width: 50%;
}
#student_tile {
    width: 30%;
    margin-right: 5%;
}
#login_tile {
    width: 35%;
    margin-right: 5%;
}
#einsicht_tile {
    width: 60%;
}
#stats_tile {
    width: 30%;
    margin-right: 5%;
}

#admin_dash_tile {
    width: 30%;
}

#register_tile{
    width:100%;
}

@media only screen and (max-width: 800px) {
   #phd_tile {
        width: 100%;
        margin-right: 0%;
    }
    #exam_tile {
        width: 100%;
    }
    #student_tile {
        width: 100%;
        margin-right: 0%;
    }
    #login_tile {
        width: 100%;
        margin-right: 0%;
    }
    #einsicht_tile {
        width: 100%;
    }
    #stats_tile {
        width: 100%;
    }
    #admin_dash_tile{
        width:100%;
    }
}

.demo-card-square.mdl-card {
    min-height: 320px;
    margin-top: 30px;
    float: left;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background: #46B6AC;
}
